[Settings]
ShowAllProcesses=FALSE
MorePrecision=FALSE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=FALSE
ToolbarStyle=DEFAULT
PromptTerminateTask=FALSE
RefreshRate=2000
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=7
SortType=1
WindowWidth=1360
WindowHeight=738
HandlePosition=100
ProcessTreeView=TRUE
