[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/loop/Schreibtisch/.zshrc]
row=1
col=0

[/home/loop/Schreibtisch/mediapad.connectbot.pub]
row=4
col=0

[/home/loop/Schreibtisch/megaterios.ssh.key.pub]
row=2
col=0

[/home/loop/Schreibtisch/mediapad.ssh.pub]
row=5
col=0

[/home/loop/Schreibtisch/FileZilla.xml]
row=3
col=0

[Diskette-Datenträger]
row=0
col=1

[/home/loop]
row=0
col=0

