[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/loop/Schreibtisch/.zshrc]
row=1
col=0

[/home/loop/Schreibtisch/xorg.conf.new]
row=2
col=0

[/home/loop/Schreibtisch/.gitignore]
row=3
col=0

[/]
row=0
col=0

