[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/loop/Schreibtisch/.zshrc]
row=1
col=1

[/home/loop/Schreibtisch/Black_Music_Hits.m3u]
row=1
col=3

[/home/loop/Schreibtisch/mediapad.connectbot.pub]
row=1
col=2

[/home/loop/Schreibtisch/megaterios.ssh.key.pub]
row=0
col=1

[/home/loop/Schreibtisch/mediapad.ssh.pub]
row=0
col=3

[/home/loop/Schreibtisch/FileZilla.xml]
row=0
col=2

[Diskette-Datenträger]
row=1
col=0

[/home/loop]
row=0
col=0

