#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Photopea
Exec=/usr/bin/chromium --profile-directory=Default --app-id=fmophgdjdipcbfjiopifpngdjmemonko
Icon=chrome-fmophgdjdipcbfjiopifpngdjmemonko-Default
NoDisplay=true
StartupWMClass=crx_fmophgdjdipcbfjiopifpngdjmemonko
OnlyShowIn=Old;
