#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WorkFlowy
Exec=/usr/bin/chromium --profile-directory=Default --app-id=koegeopamaoljbmhnfjbclbocehhgmkm
Icon=chrome-koegeopamaoljbmhnfjbclbocehhgmkm-Default
StartupWMClass=crx_koegeopamaoljbmhnfjbclbocehhgmkm
OnlyShowIn=Old;
