#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Draw.io Desktop
Exec=/usr/bin/chromium --profile-directory=Default --app-id=pebppomjfocnoigkeepgbmcifnnlndla
Icon=chrome-pebppomjfocnoigkeepgbmcifnnlndla-Default
StartupWMClass=crx_pebppomjfocnoigkeepgbmcifnnlndla
OnlyShowIn=Old;
