#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=md everywhere
Exec=/usr/bin/chromium --profile-directory=Default --app-id=epgcecfkfjhjpbglakgiallbmnidomgh
Icon=chrome-epgcecfkfjhjpbglakgiallbmnidomgh-Default
StartupWMClass=crx_epgcecfkfjhjpbglakgiallbmnidomgh
OnlyShowIn=Old;
