[Desktop Entry]
Version=1.0
Name=GNOME Color Chooser
Comment=Customize your GNOME desktop
Comment[de]=Den GNOME-Desktop farblich anpassen
Exec=gnome-color-chooser
Terminal=false
Type=Application
Icon=gnome-color-chooser.svg
Categories=GNOME;Settings;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/gnome-color-chooser.desktop
