[Desktop Entry]
Name=dconf Editor
Name[de]=dconf-Editor
GenericName=Configuration editor for dconf
GenericName[de]=Konfigurationseditor für dconf
Comment=Directly edit your entire configuration database
Comment[de]=Direkter Zugriff auf Ihre gesamte Konfigurationsdatenbank
Keywords=settings;configuration;
Keywords[de]=Einstellungen;Konfiguration;
Exec=dconf-editor
Terminal=false
Type=Application
Icon=dconf-editor
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dconf
X-GNOME-Bugzilla-Component=editor
X-GNOME-Bugzilla-Version=3.20.2
DBusActivatable=true
X-XFCE-Source=file:///usr/share/applications/ca.desrt.dconf-editor.desktop
