[Desktop Entry]
Type=Application
Exec=cairo-dock
Icon=cairo-dock
Terminal=false
Name=Cairo-Dock
Comment=A light and eye-candy dock and desklets for your desktop.
Comment[de]=Ein schlankes und hübsches Dock mit Desklets für Ihren Schreibtisch.
GenericName=Multi-purpose Dock and Desklets
GenericName[de]=Multifunktions-Dock und Desklets
Categories=System;
X-XFCE-Source=file:///usr/share/applications/cairo-dock.desktop
