[Desktop Entry]
Name=Session and Startup
Name[de]=Sitzung und Startverhalten
Comment=Customize desktop startup and splash screen
Comment[de]=Das Startverhalten der Arbeitsumgebung und den Startbildschirm an Ihre Bedürfnisse anpassen
Exec=xfce4-session-settings
Icon=xfce4-session
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-session
X-XfceHelpPage=preferences
X-XFCE-Source=file:///usr/share/applications/xfce-session-settings.desktop
