[Desktop Entry]
Name=GNOME Do
Name[de]=GNOME Do
Type=Application
Exec=gnome-do
Terminal=false
Icon=gnome-do
Comment=Do things as quickly as possible (but no quicker) with your files, bookmarks, applications, music, contacts, and more!
Comment[de]=Dinge so schnell wie möglich (aber nicht schneller) mit deinen Dateien, Lesezeichen, Anwendungen, Musik, Kontakten und vielem mehr erledigen
Categories=Utility;
X-XFCE-Source=file:///usr/share/applications/gnome-do.desktop
